# Лабораторна робота 2

## Порівняння методів класифікації даних

### Завдання 2.1. Класифікація за допомогою машин опорних векторів (SVM)

Завантажуємо необхідні бібліотеки, класи та функції

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

Читаємо дані з файлу та очищаємо їх

In [9]:

# Читаємо CSV файл
df = pd.read_csv('income_data.csv', header=None, skipinitialspace=True)
df.describe()

,0,2,4,10,11,12
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
count_class1 = len(df[df[:-1] == "<=50K"])
count_class2 = len(df[df[:-1] == ">50K"])
print(f"Кількість рядків з класом <=50K: {count_class1}")
print(f"Кількість рядків з класом >50K: {count_class2}")

Кількість рядків з класом <=50K: 32561
Кількість рядків з класом >50K: 32561

Готуємо дані для аналізу

In [11]:

# Кодуємо категоріальні ознаки (стовпці)
df_encoded = df.copy()
label_encoders = {}

for col in df_encoded.columns:
    if df_encoded[col].dtype == 'object' or df_encoded[col].dtype.name == 'category':
        le = LabelEncoder()
        df_encoded[col] = le.fit_transform(df_encoded[col].astype(str))
        label_encoders[col] = le

# Розділяємо дані на ознаки та мітки
X = df_encoded.iloc[:, :-1]
y = df_encoded.iloc[:, -1] # Останній стовпець - це мітка класу

Розбиваємо набір дани на тренувальний і перевірочний набори

In [12]:
# Розділяємо дані на тренувальний та тестовий набори
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Тренуємо модель SVM (Support Vector Machines) та обчислюємо її точність

In [13]:
# Тренуємо модель LinearSVC
model = LinearSVC(max_iter=10000)
model.fit(X_train, y_train)

# Оцінюємо точність моделі за допомогою тестового набору
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Model accuracy: {accuracy:.2f}")

Model accuracy: 0.81

Передбачаємо результат для обраних вхідних даних

In [14]:
# Сирі вхідні дані (з прикладу)
input_data = ['37', 'Private', '215646', 'HS-grad', '9', 'Never-married',
              'Handlers-cleaners', 'Not-in-family', 'White', 'Male', '0', '0', '40', 'United-States']

# Перетворюємо вхідні дані в DataFrame
input_df = pd.DataFrame([input_data], columns=X.columns)

# Перетворюємо категоріальні ознаки вхідних даних
for col in input_df.columns:
    if col in label_encoders:
        input_df[col] = label_encoders[col].transform(input_df[col].astype(str))

# Передбачаємо клас для вхідних даних
prediction = model.predict(input_df)
predicted_class = label_encoders[df.columns[-1]].inverse_transform(prediction)

print("Predicted class for input row:", predicted_class[0])

Predicted class for input row: <=50K