# Лаборатона робота 6
## Наївний Байєс в Python

### Завдання 2. Розібрати приклад: прогнозування з використанням теореми Байєса.

Готуємо дані

In [99]:
import pandas as pd
import numpy as np

data = np.array([
    # Day,  Outlook,     Humidity,  Wind,     Play
    ['D1',  'Sunny',    'High',    'Weak',   'No'],
    ['D2',  'Sunny',    'High',    'Strong', 'No'],
    ['D3',  'Overcast', 'High',    'Weak',   'Yes'],
    ['D4',  'Rain',     'High',    'Weak',   'Yes'],
    ['D5',  'Rain',     'Normal',  'Weak',   'Yes'],
    ['D6',  'Rain',     'Normal',  'Strong', 'No'],
    ['D7',  'Overcast', 'Normal',  'Strong', 'Yes'],
    ['D8',  'Sunny',    'High',    'Weak',   'No'],
    ['D9',  'Sunny',    'Normal',  'Weak',   'Yes'],
    ['D10', 'Rain',     'Normal',  'Weak',   'Yes'],
    ['D11', 'Sunny',    'Normal',  'Strong', 'Yes'],
    ['D12', 'Overcast', 'High',    'Strong', 'Yes'],
    ['D13', 'Overcast', 'Normal',  'Weak',   'Yes'],
    ['D14', 'Rain',     'High',    'Strong', 'No']
])

# Define column names
columns = ['Day', 'Outlook', 'Humidity', 'Wind', 'Play']

# Create the DataFrame
df = pd.DataFrame(data, columns=columns)

# Display the DataFrame
df

    Day   Outlook Humidity    Wind Play
0    D1     Sunny     High    Weak   No
1    D2     Sunny     High  Strong   No
2    D3  Overcast     High    Weak  Yes
3    D4      Rain     High    Weak  Yes
4    D5      Rain   Normal    Weak  Yes
5    D6      Rain   Normal  Strong   No
6    D7  Overcast   Normal  Strong  Yes
7    D8     Sunny     High    Weak   No
8    D9     Sunny   Normal    Weak  Yes
9   D10      Rain   Normal    Weak  Yes
10  D11     Sunny   Normal  Strong  Yes
11  D12  Overcast     High  Strong  Yes
12  D13  Overcast   Normal    Weak  Yes
13  D14      Rain     High  Strong   No

Обчислюємо службові ймовірності

In [100]:
# Calculate probabilities based on the DataFrame
when_game_played = df['Play'] == 'Yes'
when_it_rains = df['Outlook'] == 'Rain'
when_its_sunny = df['Outlook'] == 'Sunny'
when_high_humidity = df['Humidity'] == 'High'
when_wind_weak = df['Wind'] == 'Weak'

total_game = len(df[when_game_played])
total_no_game = len(df[~when_game_played])
p_game = total_game / len(df)
p_no_game = total_no_game / len(df)
p_rain_game = len(df[(when_it_rains & when_game_played)]) / total_game
p_rain_no_game = len(df[(when_it_rains & ~when_game_played)]) / total_no_game
p_high_humidity_game = len(df[when_high_humidity & when_game_played]) / total_game
p_high_humidity_no_game = len(df[when_high_humidity & ~when_game_played]) / total_no_game
p_wind_weak_game = len(df[when_wind_weak & when_game_played]) / total_game
p_wind_weak_no_game = len(df[when_wind_weak & ~when_game_played]) / total_no_game

print(f"Probability of playing the game: {p_game:.2f}")
print(f"Probability of not playing the game: {p_no_game:.2f}")
print("---------------------------")
print(f"Probability of playing when it rains: {p_rain_game:.2f}")
print(f"Probability of playing when humidity is high: {p_high_humidity_game:.2f}")
print(f"Probability of playing when wind is weak: {p_wind_weak_game:.2f}")
print("---------------------------")
print(f"Probability of not playing when it rains: {p_rain_no_game:.2f}")
print(f"Probability of not playing when humidity is high: {p_high_humidity_no_game:.2f}")
print(f"Probability of not playing when wind is weak: {p_wind_weak_no_game:.2f}")

Probability of playing the game: 0.64
Probability of not playing the game: 0.36
---------------------------
Probability of playing when it rains: 0.33
Probability of playing when humidity is high: 0.33
Probability of playing when wind is weak: 0.67
---------------------------
Probability of not playing when it rains: 0.40
Probability of not playing when humidity is high: 0.80
Probability of not playing when wind is weak: 0.40

Обчислюємо ймовірність за теоремою Байєса для випадку:
- йде дощ
- висока вологість
- вітер слабкий

In [101]:
# Probability of playing the game when
#    it rains,
#    humidity is high,
#    and wind is weak
probility_game = p_rain_game * p_high_humidity_game * p_wind_weak_game * p_game
probability_no_game = p_rain_no_game * p_high_humidity_no_game * p_wind_weak_no_game * p_no_game
print(f"Probability of playing the game when it rains, humidity is high, and wind is weak: {probility_game:.3f}")
print(f"Probability of not playing the game when it rains, humidity is high, and wind is weak: {probability_no_game:.3f}")

p_yes = probility_game / (probility_game + probability_no_game)
p_no = probability_no_game / (probility_game + probability_no_game)
print(f"Probability of playing the game given the conditions: {p_yes:.3f}")
print(f"Probability of not playing the game given the conditions: {p_no:.3f}")

Probability of playing the game when it rains, humidity is high, and wind is weak: 0.048
Probability of not playing the game when it rains, humidity is high, and wind is weak: 0.046
Probability of playing the game given the conditions: 0.510
Probability of not playing the game given the conditions: 0.490

P.S. Лабораторна робота містить помилку.

Неправильна порахована кількість випадків для комбінації Outlook = Sunny && Game = Yes (Див. першу таблицю синього кольору - https://share.cleanshot.com/Fch2GVxN).
Правильна відповідь (згідно табличних даних) - 2. В поясненні береться число 3. Загальна кількість  випадків у цій таблиці теж порахована невірно - https://share.cleanshot.com/sbbC0yv3.

Це в подальшому призводить до неправильних розрахунків.

### Завдання 3. Розрахунок ймовірностей за допомогою теореми Байєса в Python

Варіант 8:
- Outlook = Sunny
- Humidity = High
- Wind = Weak

In [102]:
p_sunny_game = len(df[(when_its_sunny & when_game_played)]) / total_game
p_sunny_no_game = len(df[(when_its_sunny & ~when_game_played)]) / total_no_game
print(f"Probability of playing the game when it is sunny: {p_sunny_game:.2f}")
print(f"Probability of not playing the game when it is sunny: {p_sunny_no_game:.2f}")
print("---------------------------")

# Probability of playing the game when
#    it is sunny,
#    humidity is high,
#    and wind is weak
probility_game = p_sunny_game * p_high_humidity_game * p_wind_weak_game * p_game
probability_no_game = p_sunny_no_game * p_high_humidity_no_game * p_wind_weak_no_game * p_no_game
print(f"Probability of playing the game when it is sunny, humidity is high, and wind is weak: {probility_game:.3f}")
print(f"Probability of not playing the game when it is sunny, humidity is high, and wind is weak: {probability_no_game:.3f}")

p_yes = probility_game / (probility_game + probability_no_game)
p_no = probability_no_game / (probility_game + probability_no_game)
print(f"Probability of playing the game given the conditions: {p_yes:.3f}")
print(f"Probability of not playing the game given the conditions: {p_no:.3f}")

Probability of playing the game when it is sunny: 0.22
Probability of not playing the game when it is sunny: 0.60
---------------------------
Probability of playing the game when it is sunny, humidity is high, and wind is weak: 0.032
Probability of not playing the game when it is sunny, humidity is high, and wind is weak: 0.069
Probability of playing the game given the conditions: 0.316
Probability of not playing the game given the conditions: 0.684

### Завдання 4. Застосуєте методи байєсівського аналізу до набору даних про ціни на квитки на іспанські високошвидкісні залізниці.

In [103]:
# Завантаження даних
df = pd.read_csv('./renfe_small.csv')
df.head()

,Unnamed: 0,insert_date,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,0,2019-04-22 08:00:25,MADRID,SEVILLA,2019-04-28 08:30:00,2019-04-28 11:14:00,ALVIA,NaN,Turista,Flexible
1,1,2019-04-22 10:03:24,MADRID,VALENCIA,2019-05-20 06:45:00,2019-05-20 08:38:00,AVE,21.95,Turista,Promo
2,2,2019-04-25 19:19:46,MADRID,SEVILLA,2019-05-29 06:20:00,2019-05-29 09:16:00,AV City,38.55,Turista,Promo
3,3,2019-04-24 06:21:57,SEVILLA,MADRID,2019-05-03 08:35:00,2019-05-03 15:26:00,LD-MD,34.35,Turista con enlace,Promo +
4,4,2019-04-19 21:13:55,VALENCIA,MADRID,2019-05-10 09:40:00,2019-05-10 11:20:00,AVE,45.30,Turista,Promo

Проводимо аналіз цін на квитки методом наївного Байєсу.
Для цього введемо нову категорію - PriceCategory, яка рівномірно розоподіляє датасет на дешеві, середні і дороговартісні поїздки.
Використаємо тип класифікатора - Гауса, оскільки вважаємо, що ціна має нормальний розподіл.

In [104]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, accuracy_score

# Очищення даних від порожніх значень ціни, класу потяга
df = df.dropna(subset=['price', 'train_class'])

# Розбиваємо ціну 'price' на 3 категорії
df['PriceCategory'] = pd.qcut(df['price'], q=3, labels=['Low', 'Medium', 'High'])

# Encode categorical features
df_encoded = df.copy()
for col in df_encoded.select_dtypes(include='object').columns:
    df_encoded[col] = LabelEncoder().fit_transform(df_encoded[col])

# Separate features and target
X = df_encoded.drop(columns=['price', 'PriceCategory'])  # drop raw price
y = df_encoded['PriceCategory']


# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)

# Train model
model = GaussianNB()
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluate
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.6423855633802817

Classification Report:
               precision    recall  f1-score   support

        High       0.74      0.96      0.83      1454
         Low       0.75      0.41      0.53      1506
      Medium       0.50      0.57      0.53      1584

    accuracy                           0.64      4544
   macro avg       0.66      0.65      0.63      4544
weighted avg       0.66      0.64      0.63      4544